---
import { TIMELINE as timeline } from "@config";
import TimelineItem from "@components/TimelineItem.astro";
---

<div>
  <h2>Timeline</h2>
  <div class="ml-3">
    <ol
      class="flex flex-col md:flex-row list-none relative border-l border-skin-accent"
    >
      {
        timeline.map((item) => (
          <TimelineItem
            year={item.year}
            title={item.title}
            duration={item.duration}
            details={item.details}
          />
        ))
      }
    </ol>
  </div>
</div>
