<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.25">
  <meta name="description" content="Portfolio Website of Debarghya Datta">
  <title>{{ config.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/css/mvp.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

  {% if config.generate_feed %}
  <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %}

{% block head %}{% endblock %}
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href='/' aria-label="home"><i class="fa-solid fa-house fa-xl footer"></i></a></li>
			</ul>
			<ul>
				<li><a href="https://notes.devildev.me">Notes</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
	{% block heading %}{% endblock %}
	</header>
	<main>
		{% block content %} {% endblock %}
	</main>
	<footer>
		<hr style="margin:0">
		<header style="padding:0">
			<nav style="margin-bottom:0">
				<ul>
					<li><p><i class="fa-regular fa-copyright"></i> 2023 Devildev</p></li>
				</ul>
				<ul>
                                        <li><p>Powered by <a href="https://getzola.org">Zola</a> & <a href="https://andybrewer.github.io/mvp/">MVP</a></p></li>
				</ul>
				<ul>
					<li><a href='https://github.com/devildev98' aria-label="github"><i class="fa-brands fa-github fa-beat footer fa-lg"></i></a></li>
					<li><a href='https://www.linkedin.com/in/deba-iitbh' aria-label="linkedin"><i class="fa-brands fa-linkedin footer fa-lg"></i></a></li>
					<li><a href='/atom.xml' aria-label="rss"><i class="fa-solid fa-rss footer fa-lg"></i></a></li>
				</ul>
			</nav>
		</header>
	</footer>
</body>

</html>
