{% extends "base.html" %}

<!-- heading -->
{% block heading %}
<h1>{{ section.title }}</h1>
<p>{{ section.content | safe }} </p>
{% endblock heading %}

<!-- Main content -->
{% block content %}
<article>
{% for year, posts in section.pages | group_by(attribute="year") %}
<h1> {{ year }} </h1>
<ul>
  {% for page in posts %}
  {% if page.draft == "flase" %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
</article>
{% endblock content %}
